<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header::head('代码生成')">

</head>
<body>

<div class="container-fluid">
    <form method="post" action="/code/generate">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div class="form-group">
                    <label>项目路径</label>
                    <input type="text" class="form-control" name="projectPath" th:value="${params.projectPath}">
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="form-group">
                    <label>项目的包</label>
                    <input type="text" class="form-control" name="projectPackage" th:value="${params.projectPackage}">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div class="form-group">
                    <label class="control-label">表名:</label>
                    <select class="form-control" name="tableName">
                        <option>请选择表名</option>
                        <option th:each="table:${tables}"
                                th:value="${table.tableName}"
                                th:text="${table.tableName}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="form-group">
                    <label>表前缀</label>
                    <input type="text" class="form-control" name="ignoreTabelPrefix"
                           th:value="${params.ignoreTabelPrefix}">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-md-offset-1">
                <div class="form-group">
                    <label>业务名称</label>
                    <input type="text" class="form-control" name="bizName" th:value="${params.bizName}">
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="form-group">
                    <label>模块名称</label>
                    <input type="text" class="form-control" name="moduleName" th:value="${params.moduleName}">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-md-offset-1">
                <div class="form-group">
                    <label>作者</label>
                    <input type="text" class="form-control" name="author" th:value="${params.author}">
                </div>
            </div>
        </div>
        <input type="submit" class="form-control btn-primary" value="生成" />
    </form>
</div>

</body>
</html>